/bin/
/.idea/.gitignore
/.idea/.name
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/6.5/executionHistory/executionHistory.bin
/.gradle/6.5/executionHistory/executionHistory.lock
/.gradle/6.5/fileContent/fileContent.lock
/.gradle/6.5/fileHashes/fileHashes.bin
/.gradle/6.5/fileHashes/fileHashes.lock
/build/libs/fn4nt0r-1.0-SNAPSHOT.jar
/.gradle/6.5/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.idea/jarRepositories.xml
/.gradle/6.5/fileChanges/last-build.bin
/build/tmp/jar/MANIFEST.MF
/.gradle/checksums/md5-checksums.bin
/.idea/misc.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/checksums/sha1-checksums.bin
/.idea/vcs.xml
